# Heading 1
## Heading 2

This is a plain text.

1. This is a numbered bullet
2. This is another numbered bullet

- This is a bullet point
- This is another bullet point

# Making Variables

## Basics

In [1]:
x = 5

In [2]:
print(x)

5

In [3]:
y = "text"

In [4]:
print(y)

text

In [5]:
z = 'text'

In [6]:
print(z)

text

In [7]:
print("The code for this course is 'IDS 400'")

The code for this course is 'IDS 400'

## Naming Conventions

1. You can not start a variable name with a number
2. Most special are also not allowed to be part of the variable name like &, @ etc. However, _ is allowed
3. You can not use the name of an inbuilt keyword

There are a few conventions to naming:
1. Names should be descriptive
2. We use either camel case (varExampleName) or all small letters and "_" sign so (var_example_name)

In [8]:
1x = 5

SyntaxError: invalid decimal literal (ipython-input-1018838559.py, line 1)

In [ ]:
x$ = 5

In [ ]:
and = 10

# Working with Libraries

Just like in R, python has libraries that have functions that we can use. Also, just like in R, you only ever need to install a library once. But you must load it every time you restart Colab.

In python, you install a library by the command:

- !pip install library_name

In python, you load a library with the command:

- import library_name

In [ ]:
# Installing pandas
!pip install pandas

In [ ]:
# Loading the library
import pandas

## Using library aliases

Whenever you call a function from a library in python, you need to give the name of the library. For example you would say pandas.function_name every time you use a function from pandas. It can become difficult or tedious to write library names every time so you can also give it an alias

In [ ]:
import pandas as pd

If I import pandas as pd, everytime I want to use a function from pandas I would just say pd.function_name

## Example of using a library

In [ ]:
# keyword is one of the libraries that comes pre-installed
import keyword as kw

keyword library has a list of keywords that you are not allowed to use as variable names

In [ ]:
kw.kwlist

# Lists

## Making a list

A list is just a collection of different values which don't have to be of the same data type.

In [ ]:
list1 = [10,20,30]

In [ ]:
list1

In [ ]:
list2 = [1,"two", 3.05, True]

In [ ]:
list2

In [ ]:
list3 = []

In [ ]:
list3

## Indexing and slicing a list

In [ ]:
a = [1,4,7,9,'a', 'b', 'c']
print(a)

***Imp: Python starts counting at zero***

In [ ]:
a[0]

***Imp: In indexing, python will NOT return the last index***

In [ ]:
a[1:4]

In [ ]:
a[0:2]

In [ ]:
a[:3]

In [ ]:
a[3:]

## Common methods used for working with lists

In R, if I had a vector x = c(1,2,3) and then I made an addition to it as y = c(x, 4) and I printed y I would get 1,2,3,4.

This technique does not work in python. You end up with a nested list if you do this.

In [ ]:
b = [a, 100]
print(b)

In [ ]:
b[0]

In [ ]:
b[1]

In [ ]:
b[0][0:3]

In [ ]:
# append an element to a vector
a.append(100)

In [ ]:
a

In [ ]:
# If I want to add multiple elements, I use extend
a.extend([200,300])
print(a)

In [ ]:
# What if I want to add an element at a particular index
# Lets say, I want the number 150 at index 3

a.insert(3, 150)
print(a)

In [ ]:
# I can remove a particular value
a.remove(150)
print(a)

In [ ]:
# I can change the value of an element
a[0] = 5
print(a)

# Tuples

A tuple is like a list except that it is immutable. Once a tuple is made, you can not add an item, delete an item, or change an item.

In [ ]:
tuple1 = (1,4,6,9)

In [ ]:
tuple1[0]

In [ ]:
tuple1[1:3]

In [ ]:
tuple1.append(100)

In [ ]:
tuple1[0] = 10

In [ ]:
tuple1.remove(9)

In [ ]:
tuple2 = ([1,2], [3,4])

In [ ]:
tuple2[0]

# Sets

Sets are unordered collections of unique items

In [ ]:
set1 = {1,2,3,4}

In [ ]:
set1[0] # Because a set is unordered - there are no indices. So this does not work

In [ ]:
4 in set1

In [ ]:
set1.pop()

In [ ]:
set1

In [ ]:
set2 = set([1,2,3,4, 3, 4])
print(set2)

In [ ]:
set2.add(5)
print(set2)

In [ ]:
# Union
set1 = {1,2,3}
set2 = {2,3,4,5}
set_union = set1 | set2
print(set_union)

In [ ]:
set1.union(set2)

In [ ]:
# Intersection
set1 = {1,2,3}
set2 = {2,3,4,5}
set_intersection = set1 & set2
print(set_intersection)

In [ ]:
set1.intersection(set2)

In [ ]:
# Set Difference
set1 = {1,2,3}
set2 = {2,3,4,5}
set_diff = set1 - set2
print(set_diff)
set_diff2 = set2 - set1
print(set_diff2)

In [ ]:
# Symmetric Difference
set1 = {1,2,3}
set2 = {2,3,4,5}
set_symm_diff = set1 ^ set2
print(set_symm_diff)