<a href="https://colab.research.google.com/github/ttrout5/ids400-python/blob/develop/1-class/Session_6_10_2_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Making Variables

## Basics

In [ ]:
x = 5
z = 10
print(x)

5
text
The code for this course is 'IDS 400

In [ ]:
y = "text"
print(y)

text

In [ ]:
z = 'text'

In [ ]:
print("The code for this course is 'IDS 400'")

The code for this course is 'IDS 400'

## Naming Conventions

1. You cannot start a variable name with a number
2. Most special characters are not allowed to be part of the variable name like &, @ etc. However, _ is allowed
3. You cannot use the name of an inbuilt keyword

There are a few conventions to naming:
1. Names should be descriptive
2. We use either came case or all all small letter and "_" sign (var_example_name)

In [ ]:
1x = 5

SyntaxError: invalid decimal literal (ipython-input-1018838559.py, line 1)

In [ ]:
x$ = 5

SyntaxError: invalid syntax (ipython-input-4092307479.py, line 1)

In [ ]:
and = 10

SyntaxError: invalid syntax (ipython-input-3291504646.py, line 1)

# Working with libraries

Just like in R, Python has libraries that have functions that we can use. Also, just like in R, you only ever need to install a library once. But you must load it every time you restart Colab.

In python, you install a library by the command:
- !pip install library

In python, you load a library with the command:
- import library_name

In [ ]:
# Installing pandas
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
# Loading the library
import pandas

## Using library aliases

Whenever you call a function from a library in python, you need to give the name of the library. For example you would say pandas.function_name every time you use a function from pandas. It can become difficult or tedious to write library names every time so you can also give it an alias.

In [ ]:
import pandas as pd

If I import pandas as pd, everytime I want to use a function from pandas I would just say pd.function_name

## Example of using a library

In [ ]:
# keyword is one of the libraries that comes pre-installed
import keyword as kw

keyword library has a list of keywords that you are not allowed to use as a variable name.

In [ ]:
kw.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

# Lists

## Making a list

A list is just a collection of different values which don't have to be of the same datatype.

In [ ]:
list1 = [10, 20, 30]

In [ ]:
list1

[10, 20, 30]

In [ ]:
list2 = [1, "two", 3.05, True]

In [ ]:
list2

[1, 'two', 3.05, True]

In [ ]:
list3 = []

In [ ]:
list3

[]

## Indexing and slicing a list

In [ ]:
a = [1,4,7,9,'a','b','c']
print(a)

[1, 4, 7, 9, 'a', 'b', 'c']

**Imp: Python starts counting at zero**

In [ ]:
a[0]

1

**Imp: In idexing, Python will not return the last index**

In [ ]:
a[1:4]

[4, 7, 9]

In [ ]:
a[0:2]

[1, 4]

In [ ]:
a[:3]

[1, 4, 7]

In [ ]:
a[3:]

[9, 'a', 'b', 'c']

## Common methods used for working with lists

In R, if I had a vector x = c(1, 2, 3) and then I made an addition to it as y = c(x, 4) and I printed y I would get 1,2,3,4.

This technique does not work in python. You end up with a nested list if you do this.

In [ ]:
b = [a, 100]
print(b)

[[1, 4, 7, 9, 'a', 'b', 'c'], 100]

In [ ]:
b[0]

[1, 4, 7, 9, 'a', 'b', 'c']

In [ ]:
b[1]

100

In [ ]:
b[0][0:3]

[1, 4, 7]

In [ ]:
# append an element to a vector
a.append(100)

In [ ]:
a

[1, 4, 7, 9, 'a', 'b', 'c', 100, 100]

In [ ]:
a.extend([200,300])
print(a)

[1, 4, 7, 9, 'a', 'b', 'c', 100, 100, 200, 300, 200, 300]

In [ ]:
# What if I want to add an element at a particular index?
# Let's say, I want the number 150 at index 3

a.insert(3, 150)
print(a)

[1, 4, 7, 150, 9, 'a', 'b', 'c', 100, 100, 200, 300, 200, 300]

In [ ]:
# I can remove a particular value
a.remove(150)
print(a)

[1, 4, 7, 9, 'a', 'b', 'c', 100, 100, 200, 300, 200, 300]

In [ ]:
# I can change the value of an element
a[0] = 5
print(a)

[5, 4, 7, 9, 'a', 'b', 'c', 100, 100, 200, 300, 200, 300]

# Tuples

A tuple is like a list except that it is immutable. Once a tuple is made, you cannot add, delete, or change an item.

In [ ]:
tuple1 = (1,4,6,9)

In [ ]:
tuple1[0]

1

In [ ]:
tuple1[1:3]

(4, 6)

In [ ]:
tuple1.append(100)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
tuple1[0] = 10

TypeError: 'tuple' object does not support item assignment

In [ ]:
tuple1.remove(9)

AttributeError: 'tuple' object has no attribute 'remove'

In [ ]:
tuple2 = ([1,2], [3,4])

In [ ]:
tuple2[0]

[1, 2]

# Set

Sets are unordered collections of unique items

In [ ]:
set1 = {1,2,3,4}

In [ ]:
set1[0] # Because a set is unordered, there are no indices

TypeError: 'set' object is not subscriptable

In [ ]:
4 in set1

True

In [ ]:
set1.pop()

1

In [ ]:
set1

{2, 3, 4}

In [ ]:
set2 = set([1,2,3,4,3,4]) # a set cannot have duplicates!
print(set2)

{1, 2, 3, 4}

In [ ]:
set2.add(5)
print(set2)

{1, 2, 3, 4, 5}

In [ ]:
# Union
set1 = {1,2,3}
set2 = {2,3,4,5}
set_union = set1 | set2
print(set_union)

{1, 2, 3, 4, 5}

In [ ]:
# Intersection
set1 = {1,2,3}
set2 = {2,3,4,5}
set_intersection = set1 & set2
print(set_intersection)

{2, 3}

In [ ]:
# Set Difference
set1 = {1,2,3}
set2 = {2,3,4,5}
set_diff = set1 - set2
print(set_diff)
set_diff2 = set2 - set1
print(set_diff2)

{1}
{4, 5}

In [ ]:
# Symmetric Difference
set1 = {1,2,3}
set2 = {2,3,4,5}
set_symmetric_diff = set1 ^ set2
print(set_symmetric_diff)

{1, 4, 5}